global:
  security:
    allowInsecureImages: true  # silence image verification warning

image:
  registry: ''
  repository: postgres
  tag: 16
  pullPolicy: IfNotPresent

architecture: standalone

auth:
  enablePostgresUser: true
  postgresPassword: "admin"     
  usePasswordFiles: true       

primary:
  containerSecurityContext:
    enabled: true
    readOnlyRootFilesystem: false 
    runAsUser: 999
    runAsGroup: 999
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

  livenessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
  readinessProbe:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6

  initdb:
    user: postgres
    scripts:
      01-init.sql: |
        DO
        $$BEGIN
           IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = 'keycloak') THEN
              CREATE ROLE keycloak LOGIN PASSWORD 'PhQ0wq9xL6c0D535TZqn/Uxk58ayXozu3fPzz927p0g=';
           END IF;
        END$$;

        CREATE DATABASE keycloak OWNER keycloak;
        GRANT ALL PRIVILEGES ON DATABASE keycloak TO keycloak;

        DO
        $$BEGIN
           IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = 'orchestrator') THEN
              CREATE ROLE orchestrator LOGIN PASSWORD 'G6c9WcIhiosNOI/zJYEIziHB7Lp6vOCE2WiqKl3azQ8=';
           END IF;
        END$$;

        CREATE DATABASE orchestrator OWNER orchestrator;
        GRANT ALL PRIVILEGES ON DATABASE orchestrator TO orchestrator;

  service:
    type: ClusterIP
    ports:
      postgresql: 5432

  persistence:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
    enabled: true
    storageClass: local-path     # k3s default SC
    size: 1Gi
  podSecurityContext:
    fsGroup: 1001
  containerSecurityContext:
    runAsUser: 1001
    runAsGroup: 1001
    runAsNonRoot: true

volumePermissions:
  enabled: true