global:
  security:
    allowInsecureImages: true  # silence image verification warning
image:
  registry: ''
  repository: redis
  tag: redis:7-alpine

architecture: standalone

auth:
  enabled: false  
commonConfiguration: |-
  appendonly yes
  save ""                     
  maxmemory 256mb
  maxmemory-policy allkeys-lru

master:
  kind: StatefulSet          
  containerPorts:
    redis: 6379
  livenessProbe:
    enabled: true
  readinessProbe:
    enabled: true

  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"

  persistence:
    enabled: true
    storageClass: local-path
    size: 1Gi
  podSecurityContext:
    enabled: true
    fsGroup: 1001
  containerSecurityContext:
    enabled: true
    runAsUser: 1001
    runAsGroup: 1001
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true

  service:
    type: ClusterIP
    ports:
      redis: 6379

volumePermissions:
  enabled: true